@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --card-team-gap: 30px;
  --card-projects-gap: 30px;
  --main-brand-color: #2196f3;
  --sekond-brand-color: #212121;
  --main-body-color: #ffffff;
  --buttom-second-color: #188ce8;
  --text-main-color: #2f303a;
  --text-sekond-color: #757575;
  --background-second-color: #f5f4fa;
  --background: #e5e5e5;
  --icons-first-color: #afb1b8;
  --e-adress-color: rgba(225, 225, 225, 0.6);
}

body {
  font-family: Roboto, sans-serif;
  color: var(--sekond-brand-color);
  background-color: var(--main-body-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0px;
}

.link {
  text-decoration: none;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  height: auto;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
@media screen and (max-width: 479px) {
  .container {
    max-width: 400px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  margin: 0 auto;
}
@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header {
  padding-top: 25px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767px) {
  .header {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 25px;
    padding-bottom: 24px;
  }
}

.logo {
  display: block;
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-brand-color);
}
@media screen and (max-width: 1199px) {
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.logo--bottom {
  margin-bottom: 20px;
}
.logo__footer-color {
  color: var(--main-body-color);
}

@media screen and (min-width: 768px) {
  .logo--right {
    margin-right: 86px;
  }
}
@media screen and (min-width: 1200px) {
  .logo--right {
    margin-right: 93px;
  }
}

.logo__header-color {
  color: var(--sekond-brand-color);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  margin-right: 50px;
}
.nav__item:last-child {
  margin-right: 0px;
}

.nav__info {
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--sekond-brand-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__info:hover, .nav__info:focus {
  color: var(--main-brand-color);
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -32px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--main-brand-color);
}

.active {
  color: var(--main-brand-color);
}

.heder-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .heder-contacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 74px;
  }
}
@media screen and (min-width: 1200px) {
  .heder-contacts {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-left: 300px;
  }
}

.heder-contacts__mail,
.heder-contacts__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--text-sekond-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .heder-contacts__mail,
.heder-contacts__tel {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
.heder-contacts__mail:hover, .heder-contacts__mail:hover,
.heder-contacts__tel:hover,
.heder-contacts__tel:hover {
  color: var(--main-brand-color);
}

@media screen and (min-width: 768px) {
  .heder-contacts__mail {
    padding-bottom: 9px;
  }
}

@media screen and (min-width: 1200px) {
  .heder-contacts__link + .heder-contacts__link {
    margin-left: 50px;
  }
}

.heder-contacts__icon {
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .heder-contacts__icon {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .heder-contacts__icon {
    margin-right: 10px;
  }
}
.heder-contacts__icon:hover {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .heder-contacts__icon--smal-tel {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .heder-contacts__icon--smal-tel {
    width: 10px;
    height: 16px;
  }
}

@media screen and (min-width: 768px) {
  .heder-contacts__icon--smal-mail {
    width: 12px;
    height: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .heder-contacts__icon--smal-mail {
    width: 16px;
    height: 12px;
  }
}

/* Услуги для бизнеса */
.market {
  background-color: var(--text-main-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/idias\ for\ bisenes.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/idias\ for\ bisenes.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 600px;
}

.solution {
  text-align: center;
  width: 696px;
  margin: 0px auto;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-body-color);
}

.order {
  display: block;
  margin: 0 auto;
  padding: 10px 32px 10px 32px;
  margin-top: 30px;
  background: var(--main-brand-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  /* text buttom */
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-body-color);
  cursor: pointer;
}
.order:hover {
  background-color: var(--buttom-second-color);
}
.order:focus {
  cursor: progress;
}

/* Особенности работы */
.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 120px;
  background-color: var(--background-second-color);
  border-radius: 4px;
}

.feature--bottom {
  margin-bottom: 30px;
}

/* Особенности работы */
.fors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.fors__list {
  max-width: 270px;
}

.fors__skils {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--sekond-brand-color);
}

.fors__skils--bottom {
  margin: 0 0 10px 0;
}

.fors__deskr {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-sekond-color);
  margin: 0;
}

/* Три картинки */
.work {
  padding-top: 0px;
}

.picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.picture__box {
  position: relative;
}

.picture__box--end {
  margin-right: 30px;
}

.picture__box--end:last-child {
  margin-right: 0px;
}

.picture__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  font-weight: 700;
  /* text-align: center; */
  /* letter-spacing: 0.03em; */
  text-transform: uppercase;
  color: var(--main-body-color);
  background: rgba(47, 48, 58, 0.8);
}

/* КОМАНДА */
.mishion {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--sekond-brand-color);
}

.mishion--bottom {
  margin-bottom: 50px;
}

/* КОМАНДА */
.team {
  background-color: var(--background-second-color);
}

.team-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-box__unit {
  -ms-flex-preferred-size: calc(25% - var(--card-team-gap));
      flex-basis: calc(25% - var(--card-team-gap));
  margin-left: var(--card-team-gap);
}

.team-box__unit {
  background: var(--main-body-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
}

.team-box__unit:first-child {
  margin-left: 0px;
}

/* КОМАНДА */
.personal {
  padding: 30px 0;
}

.personal__soname {
  text-align: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--sekond-brand-color);
}

.personal__job {
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-sekond-color);
}

.personal__job--top {
  margin-top: 10px;
}

/* ССЫЛКИ НА СОЦ СЕТИ */
.soshial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.soshial--top {
  margin-top: 16px;
}

.soshial__list {
  margin-right: 10px;
}

.soshial__list:last-child {
  margin-right: 0px;
}

.soshial__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icons-first-color);
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soshial__links:hover, .soshial__links:focus {
  background-color: var(--buttom-second-color);
  color: var(--main-body-color);
}

.soshial__icons {
  fill: currentColor;
}
.soshial__icons:hover, .soshial__icons:focus {
  fill: currentColor;
}

/* ----Постоянные клиенты---- */
.klients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.klients__list {
  margin-right: 30px;
}

.klients__list:last-child {
  margin-right: 0px;
}

.klients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  color: var(--icons-first-color);
  border: 1px solid var(--icons-first-color);
  border-radius: 4px;
  -webkit-transition-property: border-color, color;
  transition-property: border-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.klients__link:hover, .klients__link:focus {
  color: var(--main-brand-color);
  border-color: var(--main-brand-color);
}

.klients__icon {
  fill: currentColor;
}

/* FOTER */
.grafit {
  background-color: var(--text-main-color);
  padding: 60px 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .flex {
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .flex {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer__contacts--right {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer__contacts--right {
    margin-left: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contacts--right {
    margin-right: 70px;
  }
}

.footer__contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 9px;
}
@media screen and (max-width: 760px) {
  .footer__contacts-block {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__contacts-list {
    margin-right: auto;
    margin-left: auto;
  }
}

.footer__contacts-list:last-child {
  margin-bottom: 0;
}

.footer__contacts-adress {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-body-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts-link {
  color: var(--e-adress-color);
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts-adress:hover,
.footer__contacts-link:hover,
.footer__contacts-link:focus,
.footer__contacts-adress:focus {
  color: var(--main-brand-color);
}

/*-- иконки футера-- */
@media screen and (min-width: 768px) {
  .footer-soclink {
    margin-right: 89px;
  }
}
@media screen and (max-width: 1199px) {
  .footer-soclink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-title {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-body-color);
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-body-color);
}
@media screen and (max-width: 1199px) {
  .footer-title {
    text-align: center;
  }
}

.footer-soc-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: var(--main-body-color);
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--main-brand-color);
}

.footer-soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.footer-soc-list .footer-soc-item + .footer-soc-item {
  margin-left: 10px;
}

.footer-icon {
  fill: currentColor;
}

/* --Подписка на рассылку-- */
.footer-form {
  display: inline-block;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
@media screen and (min-width: 768px) {
  .footer-form {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 1199px) {
  .footer-form {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: auto;
    margin-right: 0px;
  }
}

.form-field {
  color: var(--main-body-color);
  background: var(--text-main-color);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.input {
  height: 50px;
  width: 358px;
  padding: 15px;
  letter-spacing: 0.03em;
  background: var(--text-main-color);
  color: var(---main-btn-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input:hover,
.input:focus-within {
  outline: none;
  border-color: var(--buttom-second-color);
}

.btn-send {
  /* cursor: pointer; */
}
@media screen and (max-width: 1199px) {
  .btn-send {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .btn-send {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.button-send {
  padding: 0;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 0;
  border-radius: 4px;
  letter-spacing: 0.06em;
  background-color: var(--main-brand-color);
  color: var(--main-body-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
@media screen and (max-width: 1199px) {
  .button-send {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .button-send {
    margin-left: 12px;
  }
}

.button-icon-send {
  margin-right: 29px;
  margin-left: 10px;
  cursor: pointer;
}

.button-send:hover,
.button-send:focus {
  background-color: var(--buttom-second-color);
}

/* Кнопки портфолио */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
@media screen and (min-width: 480px) {
  .menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 479px) {
  .menu--bottom {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .menu--bottom {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .menu--bottom {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .menu--bottom {
    margin-bottom: 50px;
  }
}

.menu__link {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: var(--background-second-color);
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.menu__link:hover, .menu__link:focus {
  background: var(--main-brand-color);
  color: var(--main-body-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Портфолио */
.job-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 480px) {
  .job-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .job-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.job-project {
  position: relative;
  cursor: pointer;
}

.projekt-link {
  display: block;
}

.projekt-link:hover,
.projekt-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projekt-link:hover .projekt-text,
.projekt-link:focus .projekt-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projekt-img {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 480px) {
  .projekt-img__pic {
    width: 450px;
    height: 294px;
  }
}
@media screen and (min-width: 768px) {
  .projekt-img__pic {
    width: 354px;
    height: 294px;
  }
}
@media screen and (min-width: 1200px) {
  .projekt-img__pic {
    width: 370px;
    height: 294px;
  }
}

.projekt-text {
  position: absolute;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-body-color);
}
@media screen and (min-width: 480px) {
  .projekt-text {
    -webkit-transform: translateY(111%);
            transform: translateY(111%);
  }
}

.job-project-box {
  padding: 20px 24px 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
@media screen and (min-width: 480px) {
  .job-project-box {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .job-project-box {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .job-project-box {
    width: 370px;
  }
}

@media screen and (min-width: 768px) {
  .job-project-box--height {
    height: 147px;
  }
}
@media screen and (min-width: 1200px) {
  .job-project-box--height {
    height: 100%;
  }
}

.job-result {
  margin-bottom: 4px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--sekond-brand-color);
  letter-spacing: 0.06em;
}

.job-title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-sekond-color);
}

/* --MODAL-- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--main-body-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.1);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;
  background-color: var(--main-body-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  cursor: pointer;
  fill: var(--buttom-second-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* --- MODAL FORMS --- */
.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-form-deskr {
  margin: 40px auto 12px auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--sekond-brand-color);
}

.modal-form-fild {
  position: relative;
  width: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.modal-form-coments {
  width: 448px;
  height: 138px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0px;
}

.modal-field-coments {
  resize: none;
  outline: none;
  height: 120px;
  padding: 12px 16px;
  background: var(--main-body-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(117, 117, 117, 0.5);
  -webkit-transition-property: border-color, fill;
  transition-property: border-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-coments:hover,
.modal-field-coments:focus {
  border-color: var(--main-brand-color);
}

.modal-field-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--text-sekond-color);
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
  width: 448px;
}

.modal-field-input {
  width: 100%;
  margin: 0;
  outline: none;
  background: var(--main-body-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-sekond-color);
  padding: 14px 42px;
  -webkit-transition-property: border-color, fill;
  transition-property: border-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  fill: var(--text-main-color);
  position: absolute;
  top: 14px;
  left: 14px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-input:focus-within + .form-icon,
.modal-field-input:hover + .form-icon {
  fill: var(--main-brand-color);
}

.modal-field-input:hover,
.modal-field-input:focus-within {
  border-color: var(--main-brand-color);
}

.modal-field-contract {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-sekond-color);
}

.checkbox {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  cursor: pointer;
}

.contract {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
  cursor: pointer;
}

.model-form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: var(--main-brand-color);
  border-radius: 4px;
  padding: 10px 55px;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-body-color);
  cursor: pointer;
  border: 0;
  margin-top: 30px;
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.model-form-button:hover,
.model-form-button:focus {
  background-color: var(--buttom-second-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* Услуги для бизнеса */
/* Особенности работы */
/* Три картинки */
/* КОМАНДА */
/* ССЫЛКИ НА СОЦ СЕТИ */
/* ----Постоянные клиенты---- */
/* FOTER */
/*-- иконки футера-- */
/* --Подписка на рассылку-- */
/* Кнопки портфолио */
/* Портфолио */
/* --MODAL-- */
/* --- MODAL FORMS --- *//*# sourceMappingURL=main.css.map */