/* FOTER */

.grafit {
  background-color: var(--text-main-color);
  padding: 60px 0;
}

.flex {
  display: flex;
   @media screen and (max-width: 767px) {
    margin: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
   @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: flex-start;
  }
}

.footer__contacts--right {
  display: block;

  @media screen and (min-width: 768px) {
    margin-left: 76px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer__contacts-block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 9px;
  @media screen and (max-width: 760px) {
margin-bottom: 60px;
  }
}

.footer__contacts-list {
  @media screen and (max-width: 1199px) {
  margin-right: auto;
  margin-left: auto;
  }
}

.footer__contacts-list:last-child {
  margin-bottom: 0;
}

.footer__contacts-adress {
  //   font-family: 'Roboto';
  //   font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-body-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts-link {
  color: var(--e-adress-color);
  font-style: normal;
  //   font-family: 'Roboto';
  //   font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts-adress:hover,
.footer__contacts-link:hover,
.footer__contacts-link:focus,
.footer__contacts-adress:focus {
  color: var(--main-brand-color);
}
