/*-- иконки футера-- */

.footer-title {
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-body-color);
}

.footer-soc-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--main-body-color);
  background: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--main-brand-color);
}

.footer-soc-list {
  display: flex;
  margin-left: auto;
}

.footer-soc-list .footer-soc-item + .footer-soc-item {
  margin-left: 10px;
}

.footer-icon {
  fill: currentColor;
}
