.header {
  padding-top: 25px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 25px;
    padding-bottom: 24px;
  }
}

.mobail-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-body-color);
  @media screen and (min-width: 767px) {
    display: none;
    max-width: 100%;
  }
}

.mobail-logo {
  display: flex;
  padding: 16px 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-brand-color);
  cursor: pointer;
}
.mobile-menu-btn {
  background-color: transparent;
  border: none;
  // fill: var(--sekond-brand-color);
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  margin-left: auto;
  z-index: 1000;

  @media screen and (min-width: 768px) {
    display: none;
  }

  transform: fill;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-open,.mobile-menu-close{
  transform: fill;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--sekond-brand-color);
}
.mobile-menu-open:hover,
.mobile-menu-open:focus {
fill: var(--main-brand-color);
}
.mobile-menu-close:focus,.mobile-menu-close:hover {
fill: var(--main-brand-color);
}
.mobile-menu-open {
	transition: 500ms;

	.mobile-menu-btn.is-open & {
		opacity: 0;
	}
}

.mobile-menu-close {
	opacity: 0;
	transition: 500ms;

	.mobile-menu-btn.is-open & {
		opacity: 1;
	}
}