*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  --card-team-gap: 30px;
  --card-projects-gap: 30px;
  --main-brand-color: #2196f3;
  --sekond-brand-color: #212121;
  --main-body-color: #ffffff;
  --buttom-second-color: #188ce8;
  --text-main-color: #2f303a;
  --text-sekond-color: #757575;
  --background-second-color: #f5f4fa;
  --background: #e5e5e5;
  --icons-first-color: #afb1b8;
  --e-adress-color: rgba(225, 225, 225, 0.6);
}